@font-face {
    font-family: helvetica;
    src: url(../fonts/Helvetica.otf);
}

body {
  font-family: helvetica;
}

.timeDay {
  background: rgb(101, 255, 213);
}

.timeNight {
  background: rgb(50, 100, 103);
}

.bot {
  width: 50px;
  height: 50px;
  background: #448AD8;
  background-size: contain !important;
  display: block;
  position: relative;
  border-radius: 30px;
}

.bot:after {
  content: attr(id);
  font-size: 14px;
  font-weight: bold;
  color: #448AD8;
  position: absolute;
  top: -16px;
  left: -10px;
}

.bot[bot-gender=female] {
  background: rgb(229, 66, 147);
  top: 40px;
}

.bot[bot-gender=female]:after {
  color: rgb(229, 66, 147);
}

.think {
  font-style: italic;
  color: #615E5E;
  display: block;
  position: relative;
  top: -45px;
  left: 5px;
  font-size: 14px;
  width: 410px;
}

.talk {
  display: block;
  position: relative;
  top: -45px;
  left: 60px;
  font-size: 14px;
  width: 410px;
}