@font-face {
    font-family: helvetica;
    src: url(../fonts/Helvetica.otf);
}

body {
  font-family: helvetica;
  background-size: cover !important;
}

.timeDay {
  background: rgb(101, 255, 213);
  background-image: url("../images/day.jpg");
}

.timeNight {
  background: rgb(50, 100, 103);
  background-image: url("../images/night.jpg");
}

.bot {
  width: 50px;
  height: 50px;
  background: #448AD8;
  background-size: contain !important;
  display: block;
  position: relative;
  border-radius: 30px;
}

.bot:after {
  content: attr(id);
  font-size: 14px;
  font-weight: bold;
  color: #448AD8;
  position: absolute;
  top: -16px;
  left: -10px;
  text-transform: capitalize;
}

.bot[bot-gender=female] {
  background: rgb(229, 66, 147);
  top: 40px;
}

.bot[bot-gender=female]:after {
  color: rgb(229, 66, 147);
}

.think {
  font-style: italic;
  color: #FFFFFF;
  display: none;
  position: relative;
  top: -45px;
  left: 5px;
  font-size: 14px;
  width: 430px;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 4px;
  border-radius: 2px;
}

.talk {
  display: none;
  position: relative;
  top: -14px;
  left: 60px;
  font-size: 14px;
  width: 410px;
  background-color: rgba(255, 255, 255, 0.72);
  width: 410px;
  padding: 4px;
  color: #16536D;
}